{% extends "home/base.html" %}

{% block content %}
<section class="probootstrap-section probootstrap-scene-1 probootstrap-bg-dark">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md text-center mb-5">
          <span class="icon-location display-4 d-block mb-5 text-primary"></span>
            <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
            <p>Forgotten your password? Enter your email adress below, and we'll email instructions</p>
            <p>{{form.email}}</p>
            <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
            </form>
        </div>
      </div>
    </div>

{% endblock %}
